$primary: #060f16;
$accent: #cc171e;
$accent-hover: #a51117;
$white: #ffffff;
$black: #000000;
$grey: #697b83;
$light-grey: #f2f2f2;
$roboto: "Roboto", sans-serif;
$roboto-cond: "Roboto Condensed", sans-serif;
$merriweather: "Merriweather", sans-serif;
